/*__________________________________
            HEADER
  __________________________________*/

.user_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 100px;
}

.user_header .logo {
    height: 50px;
}

/*__________________________________
            MODAL FORM
  __________________________________*/

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px;
    margin: auto;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 35px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}

form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
    font-size: 36px;
}

.send_button {
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 23px 50px;
    text-align: center;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.send_button:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,.3);
}

/*__________________________________
            BANNER
  __________________________________*/

.banner {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.contact_button:hover {
    background-color: #DB8876;
    color: #000000;
}

.banner_img {
    height: 200px;
    width: 200px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    order: 3;
    margin-right: 40px;
}

.profileInfo {
    order: 1;
    margin-left: 40px;
}

#profileName {
    text-align: center;
    margin: 0;
    font-size: 64px;
    color: #D3573C;
}

.infoLocation {
    text-align: center;
    font-size: 24px;
    color: #901C1C;
    text-align: left;
    margin-top: 15px;
}

.infoTagline {
    text-align: center;
    font-size: 18px;
    color: #525252;
    text-align: left;
    margin-top: 15px;
}

.contact_button {
    order: 2;
}

/*__________________________________
            DROPDOWN MENU
  __________________________________*/

.sort_relative {
    position: relative;
    z-index: 1;
}

.sort_section {
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: baseline;
    position: absolute;
    top: 0;
    left: 0;
}

.sort_text {
    font-weight: 700;
    font-size: 18px;
}

#dropdownWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    background-color: #901C1C;
    border-radius: 5px;
    height: auto;
}

#dropdownWrapper:hover, #dropdownWrapper.displayMenu {
    cursor: pointer;
    box-shadow: 2px 5px 5px rgba(0,0,0,.3);
}

/*hover*/
#dropdownWrapper:hover .dropdown_item, #dropdownWrapper.displayMenu .dropdown_item {
    display: block;
}



.dropdown_items_wrapper {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.dropdown_svg {
    margin: 15px 18px;
    transform: rotate(0);
    transition: all .3s ease;
}

/*hover*/
#dropdownWrapper:hover .dropdown_svg, #dropdownWrapper.displayMenu .dropdown_svg {
    transform: rotate(180deg);
}

.dropdown_item{
    text-align: left;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-style: none;
    width: 150px;
    padding: 5px 10px;
    display: none;
}

.dropdown_item:hover {
    cursor: pointer;
    font-weight: 700;
}
.dropmenu_hr {
    border: none;
    border-top: 1px solid rgb(255, 255, 255);
    width:130%;
    display: none;
    padding-bottom: 20px;
    margin: 15px 10px 0 0;
}

/*hover*/
#dropdownWrapper:hover .dropmenu_hr, #dropdownWrapper.displayMenu .dropmenu_hr {
    display: block;
}

.active {
    display: block!important;
    border-radius: 5px;
}

/*__________________________________
            GALLERY
  __________________________________*/

.galleryWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5%;
    margin: 0 100px;
    margin-top: 100px;
}

.cardWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.overflow_media {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    position: relative;
}

.overflow_media::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 136, 118, 0.2);
    /*z-index: 1;*/
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.cardImg, .cardVideo {
    object-fit: cover;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    object-position: center center;
}

.cardWrapper:hover .galleryWrapper {
    gap: 10px;
}

.cardWrapper:hover {
    cursor: pointer;
}

.cardWrapper:hover .overflow_media {
    width: 100%;
    transition: all .5s ease-in-out;
}

.cardWrapper:focus .overflow_media {
    width: 100%;
    transition: all .5s ease-in-out;
}

.cardWrapper:hover .overflow_media::before {
    opacity: 1;
}

.cardWrapper:focus .overflow_media::before {
    opacity: 1;
}

.cardWrapper:hover .cardImg,
.cardWrapper:hover .cardVideo{
    width: 100%;
    height: 300px;
    transform: scale(1.2);
    opacity: .8;
    transition: all .5s ease-in-out;
}

.cardWrapper:focus .cardImg,
.cardWrapper:focus .cardVideo{
    width: 100%;
    height: 300px;
    transform: scale(1.2);
    opacity: .8;
    transition: all .5s ease-in-out;
}

.cardWrapper:hover .cardInfoWrapper {
    width: 100%;
    transition: all .5s ease-in-out;
}

.cardWrapper:focus .cardInfoWrapper {
    width: 100%;
    transition: all .5s ease-in-out;
}

.cardWrapper:not(:hover) .cardImg,
.cardWrapper:not(:hover) .cardVideo {
  width: 100%;
  height: 300px;
  transform: scale(1);
  transition: all .5s ease-in-out;
}

.cardInfoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    transition: all .5s ease-in-out;
}

.cardTitle {
    white-space: nowrap;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.likesNumber {
    margin-right: 5px;
}

.likesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}

.likesIcon {
    width: 20px;
}

.likesWrapper:hover {
    cursor: pointer;
}

.shake {
    animation: shake 0.25s infinite;
  }

@keyframes shake {
    0% {
      transform: translateX(0) scale(1);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px) scale(2);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0) scale(1);
    }
  }

/*__________________________________
            FOOTER
  __________________________________*/

footer {
    background-color: #DB8876;
    position: fixed;
    bottom: -5px;
    right: 35px;
    border-radius: 5px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

.footerLikesWrapper {
    display: flex;
    align-items: baseline;
    margin-right: 60px;
}

.footerLikesNumber, .footerPrice{
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.footerLikesIcon {
    padding-left: 5px;
    height: 18px;
    color: #000;
}

/*__________________________________
            VIEWER
  __________________________________*/

.viewerModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFF;
  }

.flex {
    display: flex;
  }

  .viewerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: calc(100% + (100px * 2));
    margin: 0 -100px;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .viewerImg {
    width: 90%;
    height: 90vh;
    object-fit: cover;
    border-radius: 5px;
  }

  .contentTitle {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    height: 5vh;
    width: 90%;
    margin-top: 20px;
    text-align: left;
  }

  .arrow {
    width: 3vw;
    height: auto;
    position: absolute;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .rightArrow {
    right: 20px;
  }

  .leftArrow {
    left: 20px;
  }

  .viewerCloseIcon {
    position: absolute;
    align-self: flex-start;
    top: 0;
    right: 0;
    width: 6vh;
    /*height: 75px;*/
    margin: 20px 20px;
    cursor: pointer;
  }

  /* ERROR 404 */

  .error_404_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error_404_big {
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    color: #901C1C;
    margin: 100px 0 20px 0;
  }

  .error_404_medium {
    font-size: 32px;
    font-weight: 700;
    color: #901C1C;
    margin-bottom: 20px;
  }

  .error_404_small {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin-bottom: 40px;
  }

  .error_404_btn {
    font-size: 24px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background-color: #901C1C;
    color: #FFF;
    cursor: pointer;
    padding: 15px 20px;
  }

  .error_404_btn:hover {
    border-radius: 5px;
    border: none;
    background-color: #DB8876;
    color: #000;
  }